.table {
    border-spacing: 1;
    margin: 4rem;
    margin-right: auto;
    margin-left: auto;
}

.table__row:nth-child(even) {
    background-color: rgba(99, 100, 102, .85);
    color: #fff;
}

.table__header {
    background-color: rgba(237, 28, 36, .85);
    text-align: left;
    padding: 25px 42px;
    color: #fff;
}

.table__cell {
    padding: 10px;
}

.flex-container {
    display: flex;
    padding: auto;
    padding-top: 100px;
}

.flex-child {
    flex: 1;
    border: 2px solid rgb(158, 158, 163);
    padding-left: 20px;
}  


.flex-child:first-child {
    margin-right: 10px;
} 

h1, h2, h3, h4, h5 {
	font-family: 'proxima_nova_rgbold';
}

body {
	font-family: 'proxima_nova_rgregular';
	-webkit-text-size-adjust: none;
	overflow-x: hidden;
}

div#loading {
    width: 35px;
    height: 35px;
    display: none;
    background: url(app_backend\static\Spinner-3.gif) no-repeat;
    cursor: wait;
    }